.info {
  margin-top: 50px;
  .container {
    .info-content {
      display: flex;
      flex-direction: column;
      gap: 70px;
      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        @include preakpointes(taplet) {
          flex-wrap: wrap;
          align-items: center;
        }
        @include preakpointes(mopile) {
          flex-wrap: wrap;
          align-items: center;
        }
        .img-box {
          width: 49%;
          @include preakpointes(taplet) {
            width: 90%;
            margin: auto;
          }
          @include preakpointes(mopile) {
            width: 90%;
            margin: auto;
          }
          img {
            width: 100%;
          }
        }
        .data {
          width: 50%;
          @include preakpointes(taplet) {
            width: 90%;
            margin: auto;
          }
          @include preakpointes(mopile) {
            width: 90%;
            margin: auto;
          }
          .sircl {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #481ea7;
            margin-bottom: 15px;
          }
          .title {
            font-size: 30px;
            color: black;
            margin-bottom: 20px;
          }
          .desc {
            line-height: 1.5;
            font-size: 18px;
          }
        }
      }
    }
  }
}

// page desc

.desc {
  .container {
    p {
      width: 90%;
      text-align: center;

      font-size: 18px;
      margin: 0 auto 15px;
    }
  }
}
