// landing
.landing {
  width: 100%;
  height: 115vh;
  overflow: hidden;
  .landing-contant {
    position: relative;
    background-color: #481ea7;
    height: 100%;
    width: 100%;
    &::after {
      position: absolute;
      content: "";
      bottom: -2px;
      left: 0;
      border-width: 0 1349px 90px 0;
      border-color: transparent transparent white transparent;
      border-style: solid;
    }
    img {
      width: 100%;
      height: 100%;
    }
    .container {
      border-radius: 35px 0 35px 0;
      background-image: url(../../../images/img/header-bg.svg);
      background-size: cover;
      height: 500px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: space-between;
      padding: 20px;

      .landing-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 10px;
        @include preakpointes(taplet) {
          align-items: flex-start;
          width: 100%;
        }
        @include preakpointes(mopile) {
          align-items: flex-start;
          width: 100%;
        }
        .home-title {
          font-size: 45px;
          color: white;
          line-height: 1.4;
          @include preakpointes(mopile) {
            font-size: 30px;
          }
        }
        .home-dec {
          font-size: 18px;
          color: white;
        }
        .home-btn {
          background-color: white;
          width: 150px;
          height: 50px;
          font-size: 22px;
          border: none;
          border-radius: 10px;
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: transparent;
            border: 5px inset gray;
            color: white;
          }
        }
      }
      img {
        height: 90%;
        width: 45%;
        animation: home-img 2.5s linear infinite;
        @include preakpointes(taplet) {
          display: none;
        }
        @include preakpointes(mopile) {
          display: none;
        }
      }
    }
  }
}
@keyframes home-img {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

// services

.home-services {
  margin-top: 50px;
  overflow: hidden;
  .container {
    .services-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      img {
        width: 45%;
        @include preakpointes(taplet) {
          width: 80%;
          margin: auto;
        }
        @include preakpointes(mopile) {
          width: 80%;
          margin: auto;
        }
      }
      .services-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        @include preakpointes(taplet) {
          width: 80%;
          margin: auto;
          margin-top: 15px;
        }
        @include preakpointes(mopile) {
          width: 80%;
          margin: auto;
          margin-top: 15px;
        }
        .sircle {
          width: 60px;
          height: 60px;
          background-color: #481ea7;
          border-radius: 50%;
          @include preakpointes(mopile) {
            width: 30px;
            height: 30px;
          }
        }
        .title {
          text-transform: capitalize;
          font-size: 40px;
          color: black;
          @include preakpointes(mopile) {
            font-size: 25px;
          }
        }
        .desc {
          font-size: 16px;
          text-align: center;
          text-transform: capitalize;
          @include preakpointes(mopile) {
            font-size: 13px;
          }
          @include preakpointes(taplet) {
            font-size: 15px;
          }
        }
        .box-btns {
          gap: 20px;
          display: flex;

          .btn {
            @extend %btn;
            color: white;
            @include preakpointes(mopile) {
              font-size: 15px;
            }
          }
          .btn1 {
            background: linear-gradient(
              90deg,
              rgba(72, 30, 167, 1) 0%,
              rgba(244, 77, 133, 1) 80%
            );
            &:hover {
              background: black;
            }
          }
          .btn2 {
            background: black;
            &:hover {
              background: linear-gradient(
                90deg,
                rgba(72, 30, 167, 1) 0%,
                rgba(244, 77, 133, 1) 80%
              );
            }
          }
        }
      }
    }
  }
}

// workes

.workes {
  width: 100%;
  margin-top: 80px;
  .container {
    .workes-content {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 25px;
      flex-wrap: wrap;
      .item {
        width: 30%;
        background-image: url(../../../images/img/04.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 20px 0 20px 0;
        position: relative;
        transition: $transition;
        &:hover {
          @extend %item-hover;
        }
        @include preakpointes(taplet) {
          width: 40%;
        }
        @include preakpointes(mopile) {
          width: 90%;
        }
        img {
          width: 35px;
          margin-bottom: 25px;
        }
        a {
          .titel {
            color: white;
            text-align: center;
            transition: all 0.5s ease-in-out;
            &:hover {
              color: rgba(72, 30, 167, 1);
            }
          }
        }
        .desc {
          color: white;
          text-align: center;
          font-size: 16px;
        }
      }
    }
  }
}

// start

.start {
  margin-top: 60px;
  .container {
    .start-content {
      text-align: center;
      .sup-title {
        text-transform: uppercase;
        color: black;
        font-size: 19px;
        margin-bottom: 25px;
      }
      .title {
        text-align: center;
        font-size: 35px;
        color: black;
        @include preakpointes(mopile) {
          font-size: 20px;
        }
      }
      .box-item {
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-top: 50px;
        flex-wrap: wrap;
        .item {
          width: 30%;
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: center;
          @include preakpointes(taplet) {
            width: 40%;
          }
          @include preakpointes(mopile) {
            width: 80%;
          }
          .number {
            margin-bottom: 28px;
            background-color: #eee;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: grid;
            place-items: center;
            color: #481ea7;
            font-weight: bold;
            position: relative;
            box-shadow: 0 2px 20px 2px aquamarine;
            &::after {
              position: absolute;
              content: "";
              width: 40px;
              height: 40px;
              top: -35px;
              left: -35px;
              background-color: aquamarine;
              border-radius: 50%;
              opacity: 0.5;
            }
          }
          .item-title {
            font-size: 20px;
          }
          .item-decs {
            font-size: 16px;
            line-height: 1.7;
          }
        }
      }
    }
  }
}

// special

.special {
  margin-top: 50px;
  .container {
    .special-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include preakpointes(taplet) {
        justify-content: center;
        gap: 15px;
      }
      @include preakpointes(mopile) {
        justify-content: center;
        gap: 15px;
      }
      img {
        width: 52%;
        @include preakpointes(taplet) {
          width: 90%;
        }
        @include preakpointes(mopile) {
          width: 90%;
        }
      }
      .special-right {
        width: 45%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        @include preakpointes(taplet) {
          width: 90%;
        }
        @include preakpointes(mopile) {
          width: 90%;
        }
        .box {
          .box-header {
            padding: 15px;
            background-color: $primary;
            border-radius: 15px;
            color: white;
            font-size: 20px;
            text-transform: capitalize;
            cursor: pointer;
          }
          .box-content {
            padding: 20px;
          }
        }
      }
    }
  }
}

// price

.price {
  background-color: rgba(247, 238, 238, 0.616);
  margin-top: 50px;
  min-height: 800px;
  overflow: hidden;
  width: 100%;
  padding-bottom: 15px;
  img {
    width: 100%;
  }
  .container {
    .price-content {
      height: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      flex-wrap: wrap;
      width: fit-content;
      .left {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        @include preakpointes(taplet) {
          width: 90%;
        }
        @include preakpointes(mopile) {
          width: 90%;
          margin: auto;
        }
        
        .title {
          font-size: 40px;
          color: black;
          @include preakpointes(mopile) {
            font-size:25px ;
          }
          span {
            color: #481ea7;
          }
        }
        .desc {
          color: black;
          font-size: 18px;
          text-transform: capitalize;
        }
        div {
          display: flex;
          gap: 40px;
          .btn1 {
            padding: 20px;
            background-color: #481ea7;
            font-size: 20px;
            color: white;
            font-weight: bold;
            text-transform: capitalize;
            border: none;
            border-radius: 10px;
          }
          .btn2 {
            font-weight: bold;
            font-size: 20px;
            text-transform: capitalize;
            border: none;
            background-color: transparent;
          }
        }
      }
      .center {
        width: 35%;
        background-color: white;
        height: 600px;
        position: absolute;
        left: 55%;
        top: -40%;
        text-align: center;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 10px 10px 10px #aaa;
        @include preakpointes(taplet){
          position: static;
          left : 0 ;
          margin-top: 20px;
          width: 45%;
        }
        @include preakpointes(mopile){
          position: static;
          margin: auto;
          margin-top: 20px;
          width: 90%;
          margin-bottom: 15px;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 25px;
          list-style: none;
          li {
            text-transform: capitalize;
            font-size: 16px;
            // color: black;
          }
          .num {
            font-size: 40px;
            color: black;
            font-weight: bold;
          }
          .title {
            text-transform: uppercase;
            font-size: 25px;
            color: #481ea7;
            font-weight: bold;
          }
          .btn1 {
            button {
              @extend %btn;
              font-size: 18px;
              width: 150px;
              height: 50px;
              margin: auto;
              background: linear-gradient(90deg, #481ea7 0%, #f44d85 80%);
              color: white;
            }
          }
        }
      }
      .right {
        width: 35%;
        background-color: #481ea7;
        height: 650px;
        position: absolute;
        left: 95%;
        top: -50%;
        text-align: center;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 10px 10px 10px #aaa;
        padding-top: 50px;
        @include preakpointes(taplet){
          position: relative;
          left : -20px ;
          top: -30px;
          margin-top: 20px;
          width: 45%;
        }
        @include preakpointes(mopile){
          position: static;
          
          margin-top: 20px;
          width: 90%;
          margin: auto;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 25px;
          list-style: none;
          li {
            text-transform: capitalize;
            font-size: 16px;
            color: white;
          }
          .num {
            font-size: 40px;
            // color: black;
            font-weight: bold;
          }
          .title {
            text-transform: uppercase;
            font-size: 25px;
            // color: #481ea7;
            font-weight: bold;
          }
          .btn2 {
            button {
              @extend %btn;
              font-size: 18px;
              width: 150px;
              height: 50px;
              margin: auto;
              background: white ;
              color: black;
            }
          }
        }
      }
    }
  }
}
